POSTGRES_DEFAULT_USER=postgres
POSTGRES_DEFAULT_PASSWORD=postgres_admin

POSTGRES__DBUSER=bwg_user
POSTGRES__DBPASS=bwg_user_password
POSTGRES__DBHOST=0.0.0.0
POSTGRES__DBPORT=5432
POSTGRES__DBNAME=bwgtt

POSTGRES_USER=${POSTGRES_DEFAULT_USER}
POSTGRES_PASSWORD=${POSTGRES_DEFAULT_PASSWORD}

PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
